<title-view [titles]="'Listar'" [subtitle]="'laboratorios'"></title-view>

<alert *ngIf="msgError != 'null'" [type]="'danger'" [dismissible]="!dismissible" (onClosed)="onClosed()">{{msgError}}</alert>

<section>
  <div class="row">

    <div class="col-lg-4 form-group">
      <label for="value" class="font-weight-bold">Nombre del laboratorio</label>
      <input id="value" placeholder="Nombre del laboratorio" class="form-control" type="search" #valueBusqueda >
    </div>
  </div>

  <btn-search router="/system/nomenclators/laboratory/list"
              (click)="list( valueBusqueda.value.trim())">
  </btn-search>
</section>

<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2 mt-3 pt-3">
    <btn-new router="/system/nomenclators/laboratory/new"></btn-new>
  </section>

  <list-head router="{{routerNavigate}}" [navigate] = "isNavigate" [total]="total"></list-head>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>Código del laboratorio</th>

        <th>Laboratorio</th>

        <th>Estado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.code}}
        </td>

        <td>
          {{item.value}}
        </td>

        <td>
          <span class="text-success" *ngIf="item.status === true"> Habilitado</span>
          <span class="text-danger" *ngIf="item.status === false"> Deshabilitado</span>
        </td>

        <td>
          <btn-update ngClass="pr-2" router="/system/nomenclators/laboratory/update/{{item.id}}"></btn-update>
          <btn-details ngClass="pr-2" router="/system/nomenclators/laboratory/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="showPaginate()">
      <list-paginate (notifyData)='setEmiterDataPagination($event, valueBusqueda.value.trim())'
                     router="/system/nomenclators/laboratory/list"
                     [length]="length" [start]="start" [total]="total">
      </list-paginate>
    </div>
  </div>
</section>
