<title-view [titles]="'Ver detalle'" [subtitle]="'país'"></title-view>
<section *ngIf="!loading">
  <loading-view></loading-view>
</section>

<section *ngIf="loading">

  <section *ngIf="loading">

    <div *ngIf="obj != null">
      <div class="row">
        <div class="col-lg-4">
          <label class="font-weight-bold mr-2">Nombre del país: </label>
          <label > {{obj.value}} </label>
        </div>

        <div class="col-lg-4">
          <label class="font-weight-bold mr-2">Código del país: </label>
          <label > {{obj.code}} </label>
        </div>

        <div class="col-lg-4">
          <label class="font-weight-bold mr-2">Estado: </label>
          <label *ngIf="obj.status == true" class="text-success"> Habilitado </label>
          <label *ngIf="obj.status == false" class="text-danger"> No habilitado </label>
        </div>

      </div>



    </div>

    <div *ngIf="obj == null">
      <label>No hay datos que mostrar.</label>
    </div>

    <div class="row">
      <div class="col-lg-12 mt-2">
        <btn-goback router="/system/nomenclators/country/list"></btn-goback>
      </div>
    </div>
  </section>


</section>

