<title-view [titles]="'Listar'" [subtitle]="'admisiones'"></title-view>
<alert *ngIf="msgError != 'null'" [type]="'danger'" [dismissible]="!dismissible" (onClosed)="onClosed()">{{msgError}}</alert>

<section>
  <div class="row">

    <div class="col-lg-3 form-group">
      <label for="nohc" class="font-weight-bold">Número de historia clínica</label>
      <input id="nohc" placeholder="Número de historia clínica" class="form-control" type="search" #nohcBusqueda >
    </div>

    <div class="col-lg-3 form-group">
      <label for="name" class="font-weight-bold">Nombre</label>
      <input id="name" placeholder="Nombre" class="form-control" type="search" #namebusqueda >
    </div>

    <div class="col-lg-3 form-group">
      <label for="comboIsolaceCenter" class="font-weight-bold">Centro de aislamiento</label>
      <select id="comboIsolaceCenter"   class="form-control" #comboIsolaceCenter >
        <option value="" selected><<---Seleccione-->></option>
        <option *ngFor="let i of comboIC"  value="{{i.value}}">{{i.value}}</option>
      </select>
    </div>

    <div class="col-lg-3 form-group">
      <label for="status" class="font-weight-bold">Estado</label>
      <select  class="form-control" id="status" #statusbusqueda>
        <option value="null" ><<--Seleccione-->></option>
        <option value="true" selected>Abierta</option>
        <option value="false">Cerrada</option>
      </select>
    </div>

  </div>

  <btn-search router="/admitions/list"
              (click)="list( nohcBusqueda.value.trim(), namebusqueda.value.trim(), comboIsolaceCenter.value.trim(), statusbusqueda.value.trim())">
  </btn-search>
</section>


<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2 pt-3">
    <btn-new router="/select/hc/admitions"></btn-new>
  </section>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>HC</th>
        <th>Nombre paciente</th>
        <th>Fecha entrada</th>

        <th>Fecha salida</th>

        <th>Centro de aislamiento actual</th>

        <th>Estado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{ item.hcs.nohc }}
        </td>

        <td>
          {{ item.hcs.name }}
        </td>
        <td>
           {{ item.entry | date: 'd/M/yy' : 'UTC'}}
        </td>

        <td>
          {{ item.egress | date: 'dd/MM/yyyy'  : 'UTC'}}
        </td>

        <td>
          {{ item.isolation_center.value }}
        </td>

        <td>
          <span class="text-success" *ngIf="item.status === true"> Abierta</span>
          <span class="text-secondary" *ngIf="item.status === false"> Cerrada</span>
        </td>

        <td style="width: 25%">
          <btn-details ngClass="pr-2" router="/admitions/view/{{item.id}}"></btn-details>
          <a *ngIf = "item.status === true" class="btn btn-primary btn-sm text-white" href="#" routerLink="/admitions/update/{{item.id}}">
            <fa-icon [icon]="faRetweet" size="ms"></fa-icon> Cerrar</a>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</section>





