<title-view [titles]="'Listar'" [subtitle]="'provincias'"></title-view>

<alert *ngIf="msgError != 'null'" [type]="'danger'" [dismissible]="!dismissible" (onClosed)="onClosed()">{{msgError}}</alert>

<section>
  <div class="row">

    <div class="col-lg-4 form-group">
      <label for="value" class="font-weight-bold">Nombre de la provincia</label>
      <input id="value" placeholder="Nombre de la provincia" class="form-control" type="search" #valueBusqueda >
    </div>

    <div class="col-lg-4">
      <div class="form-group">

        <label for="comboCountries" class="font-weight-bold">País</label>
        <select id="comboCountries"   class="form-control" #comboCountrie  >
          <option value="" selected><<---Seleccione-->></option>
          <option *ngFor="let i of comboCountry"  value="{{i.value}}">{{i.value}}</option>
        </select>
      </div>
    </div>
  </div>



  <btn-search router="/system/nomenclators/province/list"
              (click)="list( valueBusqueda.value.trim(), comboCountrie.value.trim())">
  </btn-search>
</section>

<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2 mt-3 pt-3">
    <btn-new router="/system/nomenclators/province/new"></btn-new>
  </section>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>Código de la provincia</th>

        <th>Provincia</th>

        <th>País</th>

        <th>Código del país</th>

        <th>Estado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.code}}
        </td>

        <td>
          {{item.value}}
        </td>

        <td>
        {{item.country.value}}
        </td>

        <td>
          {{item.country.code}}
        </td>


        <td>
          <span class="text-success" *ngIf="item.status === true"> Habilitado</span>
          <span class="text-danger" *ngIf="item.status === false"> Deshabilitado</span>
        </td>

        <td>
          <btn-update ngClass="pr-2" router="/system/nomenclators/province/update/{{item.id}}"></btn-update>
          <btn-details ngClass="pr-2" router="/system/nomenclators/province/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="showPaginate()">
      <list-paginate (notifyData)='setEmiterDataPagination($event, valueBusqueda.value.trim(), comboCountrie.value.trim())'
                     router="/system/nomenclators/province/list"
                     [length]="length" [start]="start" [total]="total">
      </list-paginate>
    </div>
  </div>
</section>


