<title-view [titles]="'Actualizar'" [subtitle]="'actividad'"></title-view>
<form  novalidate [formGroup]="form">

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="value">Nombre de la actividad</label>
        <input type="text" placeholder="Nombre de la actividad"  class="form-control" id="value" formControlName="value">
        <div *ngIf="f.value.errors && f.value.touched">
          <div *ngIf="f.value.errors.required">
            <label for="value" class="text-danger"><i class="fa fa-ban"></i> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="code">Código de la actividad</label>
        <input type="text" placeholder="Código de la actividad" class="form-control" id="code" formControlName="code">
        <div *ngIf="f.code.errors && f.code.touched">
          <div *ngIf="f.code.errors.required">
            <label for="code" class="text-danger"><i class="fa fa-ban"></i> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">

        <label for="comboCategoria">Categoría</label>
        <select id="comboCategoria"   class="form-control" #comboCategories (change)="setCategory(comboCategories.value)" formControlName="n_category_id">
          <option value="" selected><<---Seleccione-->></option>
          <option *ngFor="let i of comboCategory"  value="{{i.id}}">{{i.code}} --- {{i.value}}</option>
        </select>
        <div *ngIf="f.n_category_id.errors && f.n_category_id.touched">
          <div *ngIf="f.n_category_id.errors.required">
            <label for="comboCategoria" class="text-danger"><i class="fa fa-ban"></i> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label  for="status">Estado</label>
        <br>
        <common-switch-rounded id="status" [status]="status" (notifyData)='setEmiterData($event)'></common-switch-rounded>
      </div>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-lg-12 mt-2">
        <btn-save (click)="update()" ngClass="pr-2" [disabled]="!form.valid"></btn-save>
        <btn-cancel  router="/system/nomenclators/municipality/list"></btn-cancel>
      </div>
    </div>
  </div>



</form>



