<title-view [titles]="'Actualizar'" [subtitle]="'usuarios'"></title-view>
<form  novalidate [formGroup]="form">

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre completo"  class="form-control" id="name" formControlName="fullname">
        <div *ngIf="f.fullname.errors && f.fullname.touched">
          <div *ngIf="f.fullname.errors.required">
            <label for="name" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="name">Carnet de identidad</label>
        <input type="text" placeholder="Carnet de identidad" class="form-control" maxlength="11" id="ci" formControlName="ci">
        <div *ngIf="f.ci.errors && f.ci.touched">
          <div *ngIf="f.ci.errors.required">
            <label for="ci" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
          <div *ngIf="f.ci.errors.minlength">
            <div *ngIf="f.ci.errors.minlength.actualLength <= 11">
              <label for="ci" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> Debe tener 11 números</label>
            </div>
          </div>
          <div *ngIf="f.ci.errors.pattern">
            <label for="ci" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> Solo se aceptan números</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="gender">Género</label>
        <select id="gender"   class="form-control"  formControlName="gender">
          <option value="" selected><<---Seleccione-->></option>
          <option value="m" >Masculino</option>
          <option value="f" >Femenino</option>
        </select>
        <div *ngIf="f.gender.errors && f.gender.touched">
          <div *ngIf="f.gender.errors.required">
            <label for="gender" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">

        <label for="roles">Rol</label>
        <select id="roles"   class="form-control"  #rol (change)="setRol(rol.value)" formControlName="roles">
          <option value="" selected><<---Seleccione-->></option>
          <option *ngFor="let i of arrayRoles" value="{{i.rol}}">{{i.name}}</option>
        </select>
        <div *ngIf="f.roles.errors && f.roles.touched">
          <div *ngIf="f.roles.errors.required">
            <label for="roles" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="telephone" placeholder="Teléfono"  class="form-control" id="phone" formControlName="phone">
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="email">Correo</label>
        <input  type="email" placeholder="Correo"  class="form-control" id="email" formControlName="email">
        <div *ngIf="f.email.errors && f.email.touched">
          <div *ngIf="f.email.errors.email">
            <label for="email" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El correo no es correcto.</label>
          </div>
          <div *ngIf="f.email.errors.required">
            <label for="email" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div>
    <div class="row">
      <div class="col-lg-12 mt-2">
        <btn-save (click)="update()" ngClass="pr-2" [disabled]="!form.valid"></btn-save>

        <btn-cancel  router="/system/user/list"></btn-cancel>
      </div>
    </div>
  </div>

</form>

