<title-view [titles]="'Listar'" [subtitle]="'Pruebas PCR'"></title-view>
<alert *ngIf="msgError != 'null'" [type]="'danger'" [dismissible]="!dismissible" (onClosed)="onClosed()">{{msgError}}</alert>

<section>
  <div class="row">

    <div class="col-lg-4 form-group">
      <label for="nohc" class="font-weight-bold">Número de historia clínica</label>
      <input id="nohc" placeholder="Número de historia clínica" class="form-control" type="search" #nohcBusqueda >
    </div>

    <div class="col-lg-4 form-group">
      <label for="name" class="font-weight-bold">Nombre</label>
      <input id="name" placeholder="Nombre" class="form-control" type="search" #namebusqueda >
    </div>

    <div class="col-lg-4 form-group">
      <label for="comboLab" class="font-weight-bold">Laboratorio</label>
      <select id="comboLab"   class="form-control" #comboLab >
        <option value="" selected><<---Seleccione-->></option>
        <option *ngFor="let i of comboLAB"  value="{{i.value}}">{{i.value}}</option>
      </select>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4 form-group">
      <label for="ftm" class="font-weight-bold">Fecha toma muestra</label>
      <input id="ftm" placeholder="Fecha toma muestra" class="form-control" value="{{now}}"  type="date" #ftmBusqueda >
    </div>

    <div class="col-lg-4 form-group">
      <label for="statusTest" class="font-weight-bold">Estado de la prueba</label>
      <select  class="form-control" id="statusTest" #statustestbusqueda>
        <option value="null" selected><<--Seleccione-->></option>
        <option value="1" >En proceso</option>
        <option value="2">Procesada</option>
        <option value="3">Inivida</option>
      </select>
    </div>

    <div class="col-lg-4 form-group">
      <label for="result" class="font-weight-bold">Resultado</label>
      <select  class="form-control" id="result" #resultbusqueda>
        <option value="null" selected><<--Seleccione-->></option>
        <option value="true" >Positivo</option>
        <option value="false">Negativo</option>
        <option value="na">Pendinete</option>
      </select>
    </div>


  </div>

  <btn-search router="/test/list"
              (click)="list( nohcBusqueda.value, namebusqueda.value, comboLab.value, ftmBusqueda.value, statustestbusqueda.value, resultbusqueda.value)">
  </btn-search>
</section>


<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2 pt-3">
    <btn-new router="/select/hc/test"></btn-new>
  </section>

  <list-head router="{{routerNavigate}}" [navigate] = "isNavigate" [total]="total"></list-head>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>HC</th>
        <th>Nombre paciente</th>
        <th>Fecha envio</th>

        <th>Fecha resultado</th>

        <th>Laboratorio</th>

        <th>Estado de la prueba</th>

        <th>Resultado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{ item.hc.nohc }}
        </td>

        <td>
          {{ item.hc.name }}
        </td>
        <td>
          {{ item.date_samples | date: 'd/M/yy' : 'UTC'}}
        </td>

        <td>
          {{ item.result_date | date: 'dd/MM/yyyy'  : 'UTC'}}
        </td>

        <td>
          {{item.laboratory.value}}
        </td>

        <td>
          <span class="text-success" *ngIf="item.status_test === '2'"> Procesada</span>
          <span class="text-primary" *ngIf="item.status_test === '1'"> En Proceso</span>
          <span class="text-secondary" *ngIf="item.status_test === '3'"> Inivida</span>
        </td>

        <td *ngIf="item.status_test !== '1'">
          <span class="text-danger" *ngIf="item.result === true"> Positiva</span>
          <span class="text-secondary" *ngIf="item.result === false"> Negativa</span>
        </td>

        <td *ngIf="item.status_test === '1'">
          <span class="text-primary" > Pendinete</span>
        </td>

        <td style="width: 25%">
          <btn-details ngClass="pr-2" router="/test/view/{{item.id}}"></btn-details>
          <btn-update ngClass="pr-2" *ngIf = "item.status_test === '1'" router="/test/update/{{item.id}}"></btn-update>
          <a *ngIf = "item.status_test === '1'" class="btn btn-primary btn-sm text-white mt-2" href="#" routerLink="/test/closed/{{item.id}}">
            <fa-icon [icon]="faRetweet" size="ms"></fa-icon> Cerrar</a>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="showPaginate()">
      <list-paginate (notifyData)='setEmiterDataPagination($event, nohcBusqueda.value, namebusqueda.value, comboLab.value, ftmBusqueda.value, statustestbusqueda.value, resultbusqueda.value)'
                     router="/test/list"
                     [length]="length" [start]="start" [total]="total">
      </list-paginate>
    </div>
  </div>
</section>





