<nav class="navbar navbar-light sticky-top bg-secondary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-white" href="#" routerLink="/system/home">{{appName}}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link text-white" (click)="logout()" href="#" routerLink="/system/home"><fa-icon [icon]="faSign" size="ms"></fa-icon> Salir</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">

    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <div  class="col-lg-12 text-center">
          <img class="rounded-circle" src="img/person_notfound.png" alt="" width="50" height="50"/>
          <p class="text-center text-muted mt-2 mb-0">
            {{userLogin}}
          </p>
        <p class="text-muted mt-0 text-center" style="font-size: small">
          ({{rolLogin}})
        </p>
        </div>
        <hr>

        <ul class="nav flex-column">
          <h6 class="sidebar-heading d-flex  align-items-center px-3 mt-4 mb-1 text-muted">
              <fa-icon [icon]="faCogs" size="ms"></fa-icon> <span class="pl-2"> Sistema</span>
          </h6>
          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/user/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar usuarios
            </a>
          </li>
          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/actions/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar acciones del sistema
            </a>
          </li>

          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/log/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar logs
            </a>
          </li>


          <h6 class="sidebar-heading d-flex  align-items-center px-3 mt-3 mb-1 text-muted">
            <fa-icon [icon]="faDatabase" size="ms"></fa-icon> <span class="pl-2"> Nomencladores</span>
          </h6>
          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/nomenclators/country/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar país
            </a>
          </li>
          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/nomenclators/province/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar provincia
            </a>
          </li>
          <li class="nav-item  pl-4">
            <a class="nav-link " href="#" routerLink="/system/nomenclators/municipality/list">
              <fa-icon [icon]="faList" size="sm"></fa-icon>
              Gestionar municipio
            </a>
          </li>
        </ul>
      </div>
    </nav>

   <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-2">

       <router-outlet></router-outlet>

   </div>
  </div>
</div>




