<title-view [titles]="'Listar'" [subtitle]="'historias clínicas'"></title-view>



<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2">
    <btn-new router="/hc/new"></btn-new>
  </section>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>nohc</th>

        <th>name</th>

        <th>ci</th>

        <th>Municipio</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.nohc}}
        </td>

        <td>
          {{item.name}}
        </td>

        <td>
          {{item.ci}}
        </td>

        <td>
          {{item.municipality.value}}
        </td>

        <td style="width: 25%">
          <btn-update ngClass="pr-2" router="/hc/update/{{item.id}}"></btn-update>
          <btn-details ngClass="pr-2" router="/hc/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</section>




