<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/hc/list">Historias clínicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/admitions/list">Admisión</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/test/list">Pruebas PCR</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/transfer/list">Tranferencias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/report/dashboard">Reportes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/system">Administración</a>
      </li>

    </ul>
   
  </div>
</nav>

<main role="main" class="container pt-5 mt-5">

  <router-outlet></router-outlet>


</main>

<!--<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>-->
