<title-view [titles]="'Registrar'" [subtitle]="'provincia'"></title-view>
<form  novalidate [formGroup]="form">

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="value" class="font-weight-bold">Nombre <span class="text-danger">*</span></label>
        <input type="text" placeholder="Nombre de la provincia"  class="form-control" id="value" formControlName="value">
        <div *ngIf="f.value.errors && f.value.touched">
          <div *ngIf="f.value.errors.required">
            <label for="value" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="code" class="font-weight-bold">Código <span class="text-danger">*</span></label>
        <input type="text" placeholder="Código de la provincia" class="form-control" id="code" formControlName="code">
        <div *ngIf="f.code.errors && f.code.touched">
          <div *ngIf="f.code.errors.required">
            <label for="code" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">

        <label for="comboCountries" class="font-weight-bold">País <span class="text-danger">*</span></label>
        <select id="comboCountries"   class="form-control" #comboCountrie (change)="setCountry(comboCountrie.value)" formControlName="n_country_id">
          <option value="" selected><<---Seleccione-->></option>
          <option *ngFor="let i of comboCountry"  value="{{i.id}}">{{i.value}}</option>
        </select>
        <div *ngIf="f.n_country_id.errors && f.n_country_id.touched">
          <div *ngIf="f.n_country_id.errors.required">
            <label for="comboCountries" class="text-danger"><fa-icon [icon]="faBan" size="ms"></fa-icon> El campo es requerido.</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="row">
      <div class="col-lg-12 mt-2">
        <btn-save (click)="new()" ngClass="pr-2" [disabled]="!form.valid"></btn-save>
        <btn-cancel  router="/system/nomenclators/province/list"></btn-cancel>
      </div>
    </div>
  </div>



</form>
