<title-view [titles]="'Listar'" [subtitle]="'centros de ailsamientos'"></title-view>

<alert *ngIf="msgError != 'null'" [type]="'danger'" [dismissible]="!dismissible" (onClosed)="onClosed()">{{msgError}}</alert>

<section>
  <div class="row">

    <div class="col-lg-4 form-group">
      <label for="value" class="font-weight-bold">Nombre del centro de aislamiento</label>
      <input id="value" placeholder="Nombre del centro de aislamiento" class="form-control" type="search" #valueBusqueda >
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="type" class="font-weight-bold">Tipo de centro</label>
        <select id="type"   class="form-control" #comboType >
          <option value="" selected><<---Seleccione-->></option>
          <option value="positivos" >Positivos</option>
          <option value="sospechosos" >Sospechosos</option>
        </select>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <label for="comboMunicipalities" class="font-weight-bold">Municipio</label>
        <select id="comboMunicipalities"   class="form-control" #comboMunicipalities  >
          <option value="" selected><<---Seleccione-->></option>
          <option *ngFor="let i of comboMunicipality"  value="{{i.value}}">{{i.value}}</option>
        </select>
      </div>
    </div>

  </div>



  <btn-search router="/system/nomenclators/isolationsCenter/list"
              (click)="list( valueBusqueda.value.trim(), comboType.value.trim(), comboMunicipalities.value.trim() )">
  </btn-search>
</section>

<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2  mt-3 pt-3">
    <btn-new router="/system/nomenclators/isolationsCenter/new"></btn-new>
  </section>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>Centro de aislamiento</th>

        <th>Capacidad</th>

        <th>Ocupados</th>

        <th>Tipo</th>

        <th>Municipio</th>

        <th>Estado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.value}}
        </td>

        <td>
          {{item.capacity}}
        </td>

        <td>
          {{item.capacity_occupies}}
        </td>

        <td>
          {{item.type}}
        </td>

        <td>
          {{item.municipalities.value}}
        </td>

        <td>
          <span class="text-success" *ngIf="item.status === true"> Habilitado</span>
          <span class="text-danger" *ngIf="item.status === false"> Deshabilitado</span>
        </td>

        <td style="width: 25%">
          <btn-update ngClass="pr-2" router="/system/nomenclators/isolationsCenter/update/{{item.id}}"></btn-update>
          <btn-details ngClass="pr-2" router="/system/nomenclators/isolationsCenter/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</section>



