<title-view [titles]="'Listar'" [subtitle]="'acciones del sistema'"></title-view>



<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">
  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>Fecha</th>

        <th>Funcionalidad</th>

        <th>Usuario</th>

        <th>Rol</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.dates | date: 'd/M/yy HH:mm'}}
        </td>
        <td>
          {{item.actions}}
        </td>

        <td>
          {{item.user_actions.username}}
        </td>

        <td>
          {{item.user_actions.roles}}
        </td>

        <td>
          <btn-details ngClass="pr-2" router="/system/actions/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</section>


