<title-view [titles]="'Listar'" [subtitle]="'actividades'"></title-view>



<section *ngIf="!loading">
  <loading-view></loading-view>
</section>
<section *ngIf="loading">

  <section class="pb-2">
    <btn-new router="/system/nomenclators/activity/new"></btn-new>
  </section>

  <div  class="table table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th>Código de la actividad</th>

        <th>Actividad</th>

        <th>Categoría</th>

        <th>Código de la categoría</th>

        <th>Estado</th>

        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of lists">
        <td>
          {{item.code}}
        </td>

        <td>
          {{item.value}}
        </td>

        <td>
          {{item.category.value}}
        </td>

        <td>
          {{item.category.code}}
        </td>


        <td>
          <span class="text-success" *ngIf="item.status === true"> Habilitado</span>
          <span class="text-danger" *ngIf="item.status === false"> Deshabilitado</span>
        </td>

        <td>
          <btn-update ngClass="pr-2" router="/system/nomenclators/activity/update/{{item.id}}"></btn-update>
          <btn-details ngClass="pr-2" router="/system/nomenclators/activity/view/{{item.id}}"></btn-details>
        </td>

      </tr>
      <tr *ngIf="lists.length === 0" >
        <td>No hay datos que mostrar.</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </div>
</section>




